
/* reusable  */
body {
    background-color: #fff;
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 20px;
}

.line {
    height: 5px;
    border: 0px;
    background-color: #212529;
    width: 100px;
}

.total-page {
   
}

.title {
    text-align: center;
}

/* index page */

.our-name {
    padding-top: 20px;
    padding-bottom: 10px;
}

.our-name p {
    text-align: center;
}

.our-name h1 {
    text-align: center;

}

.our-name h3 {
    text-align: center;

}

.doctor-links {
    text-align: center;
    padding: 5px  0px;

}

.doctor-links a {
    color: black;
}

.doctor-links h5{
    font-size: 28px;
}

.main {
    padding-bottom: 20px 5px;
}

.about-us {
    
    text-align: center;
    padding: 20px 5px;

}

.phil {
  
    text-align: center;
    padding: 20px 5px;
}

.insurances {
   
    text-align: center;
    padding: 30px 5px; 
    
}


.services  {
   
    text-align: center;
    padding: 50px 5px;

}



.services i {
    font-size: 70px;
    padding: 3px 20px 30px 5px;
}

    .services i:hover {
    opacity: 1;
    transform: scale(1.03);
    color: red;
}

.appointments {
   
    text-align: center;
    padding: 50px 5px;
}

.our-offices {
   
    text-align: center;
    padding-bottom: 10px 50px; 20px;
 
}

.our-offices h2 {
    padding: 30px 3px;
}

.mid-pic {
    
}

.mid-pic img {
    border-radius: 15px;
    padding: 5px;
    width: 100%;
    height: 240px;
        
}


/* footer */
.foot {
    text-align: center;
    background-color: #212529;
    color: aliceblue;
    padding: 30px;
}

/* ourstaff page */

.staff {
    text-align: center;
    padding: 20px 50px 2px;
}

.staff img {
    border-radius: 8px;
    width: 100%;
    height: 300px;
    
}

/* Doctors pages */
.doctor {
    padding: 10px 70px 4px;
}

.doctor img {
    height: 300px;
    border-radius: 5px;
    float: left;
    padding: 10px 48px;
}



.treatment-list {
  padding-left: 45px;
}

/* conditions page */

.conditions h3 {
    text-align: center;
}

.conditions {
    text-align: center;
    padding: 10px 20px;
    
}
.conditions img {
    border-radius: 30px;
    padding: 20px 8px 20px;
    width: 70%;
    height: 70%;
}


.ourservices img {
    padding: 20px;
    
}




